.hands
{
	float:right;
	padding-right:400px;
	padding-bottom: 200px;
	height: 110px

}
.pink
{
	padding-left: 100px
	padding top:80px;
}
#thicc{
	margin-color: salmon;
	margin-left: 100px;
    margin-right:100px;
	
}
.plismaplis{
	float: left;
	width:400px;
}
